.message-content a {
  color: #00b0f4 !important;
}

.message-content code {
  color: white;
  background-color: #2f3136;
  border-radius: 4px;
  padding: 0 2px;
}

.message-content pre {
  background-color: #2f3136;
  border-radius: 4px;
  display: block;
  border: 1px solid #202225;
  padding: 0.5rem;
}

.message-content pre * {
  font-family: 'Roboto Mono', monospace;
}

.twemoji {
  height: 1.15rem;
}