$primary: #663399;
$secondary: #ff4c81;
$tertiary: #fc9434;
$light: #666;

@import "~bootstrap/scss/bootstrap";
@import "typeface-righteous";
@import "typeface-roboto";
@import "typeface-roboto-mono";

.btn {
  font-family: 'Roboto', sans-serif;
}

.btn-outline-light {
  &:not(.disabled):hover {
    text-decoration: underline;
  }

  height: 3rem;
  color: #888 !important;
  background-color: inherit !important;
  font-size: 1rem !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
}

.background-primary {
  background-color: $primary;
}

.background-secondary {
  background-color: $secondary;
}

.background-tertiary {
  background-color: $tertiary;
}

.display-on-hover {
  transition: opacity .1s;
  opacity: 0;
}

.display-on-hover:hover {
  opacity: 1;
}

.grow-on-hover:hover {
  transform: scale(1.075);
}

.json-sample * {
  background-color: #fff !important;
  font-family: Roboto Mono, monospace !important;
}

.hover-underline:hover {
  text-decoration: underline;
}

.navbar {
  padding-left: 10vw;
  padding-right: 10vw;
}

.body-container {
  margin-right: calc(100% - 100vw);
}

body * {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

main {
  padding: 5rem 10vw 5rem 10vw;
}

h1 {
  margin-bottom: 2rem;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  text-align: left;
}

code {
  font-family: 'Roboto Mono', monospace;
}